html, body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 400px;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

h1, h2, h3 {
  margin-bottom: 1rem;
  font-weight: normal;
  text-align: center;
}

#fixed-button {
  position: sticky;
  bottom: 20px;
  left: 20px;
  width: 180px;
  font-size: medium;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /* Stay at front of page */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav .closebutton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebutton {
  font-size: 36px;
  background-color: aliceblue;
  border: none;
  width: 40px;
}

#page-content {
  padding: 20px;
  transition: margin-left 0.5s;
}

#main-nav-bar {
  min-width: 520px;
  max-width: 950px;
  height: 60px;
  background-color: #333;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  margin-top: 2em;
  padding: auto;
}

button {
  cursor: pointer;
  display: inline-block;
  background: #333;
  color: white;
  font-size: 18px;
  border: 0;
  padding: 0.7em 2.5em;
  width: 260px;
}

button:focus {
  outline: none;
}

button:hover {
  background: #00bbd45d;
}

button.selected {
  background: #00bcd4;
}

.vertical-container {
  width: 80vw;
  max-width: 950px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.vertical-card {
  width: calc(30% - 1rem);
  min-width: calc(25% - 1rem);
  max-width: calc(40% - 1rem);
  height: calc(50% - 1rem);
  border-radius: 22px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.horizontal-container {
  width: 80vw;
  max-width: 950px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.horizontal-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.user-picture {
  width: calc(30% - 1rem);
  min-width: calc(25% - 1rem);
  max-width: calc(40% - 1rem);
  height: calc(50% - 1rem);
  border-radius: 22px;
  background-color: #fafafa9e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.user-name-comment {
  width: calc(70% - 1rem);
  min-width: calc(65% - 1rem);
  max-width: calc(80% - 1rem);
  height: calc(50% - 1rem);
  border-radius: 22px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* form styling for the catalogue area */
#filter-catalogue {
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.text{
  text-align: left;
  margin-left: 360px;
}

#review {
  padding: 1em;
}

.label{
  display: inline;
}
